body {
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    background: #f4f4f4;
    }



.talbe{
    display: grid;
    text-align: center;
    background-color: white;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}

.btn{
    width: 200px;
    height: 60px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #e0e0e0;
}

.btn:hover{
    background: #d1d1d1;
}